.root {
  min-height: 100vh;
  min-width: 100%;

  display: flex;
  align-items: center;
  background: #5a5a5a;

  .flexWrapper {
    min-width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;

    & > div {
      height: 1.4rem;

      display: flex;
      align-items: center;
      justify-content: center;
      color: #fff;
    }

    & > div:first-child,
    & > div:last-child {
      width: 10%;
      background: #ccc;
    }

    & > div:nth-child(2) {
      width: 25%;
      background: #000;
    }
    & > div:nth-child(3) {
      width: 55%;
      background: #0400ff;
    }
  }
}
